body{
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Questrial', sans-serif;
    background-color: #1a1b20;
}

fieldset{
    position: absolute;
    width: 400px;
    left: 35%;
    background: #26272c;
    border-radius: 5px;
}
legend{
    margin-left: auto;
    margin-right: auto;

}

input[type=button]{
    position: relative;
    float: right;
    border-radius: 2px;
    border: white;
}